---
name: "Release Tags"

on:
  release:
    types: [published]
  push:
    tags: ["v*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  actions-tagger:
    name: "Sync release tags"
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6

      - name: "Upload release"
        uses: softprops/action-gh-release@v2
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          generate_release_notes: true

      - name: "Sync latest tag"
        uses: Actions-R-Us/actions-tagger@v2
