---
name: "release"

on:
  release:
    types: [published]
  push:
    tags: ["v*"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  update-tags:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6

      - name: "Update Major Tag"
        uses: rickstaa/action-update-semver@v1
        with:
          tag: ${{ github.event.release.tag_name || github.ref_name }}
