---
name: "Release Tags"

on:
  release:
    types: [published]
  push:
    tags: ["v*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  actions-tagger:
    name: "Sync release tags"
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: "Sync latest tag"
        uses: Actions-R-Us/actions-tagger@v2
